.header div.new_serverform_banner{
    background:url('../img/new_serverform_banner.jpg');

}
.new_serverform{
    width: 1120px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background: #151515;


}
.new_serverformtitle{

    margin-top: 125px;

    width: 300px;
    height: 35px;
    color: rgb(250, 249, 249);
}
.new_serverformsild{
    padding-top: 80px;
    padding-bottom: 60px;
}
.new_serverformsildl{
    width: 475px;
    height: 320px;
    float: left;
    position: relative;
}
.new_serverformsildl img{
    height: 298px;
    margin-top: 0;
    margin-left: 0;
    position: relative;
    z-index: 3;
}
.new_serverformsildlsk{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #999999;
    width: 150px;
    height: 129px;
}
.new_serverformsildr{
    width: 600px;
    float: right;
    padding-top: 60px;
}
.new_serverformsildrtitle{
    color: rgb(255, 252, 252);
    font-size: 22px;

}
.new_serverformsildrtitleen{
    font-size: 12px;
    color: rgb(102, 102, 102);
    line-height: 12px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.new_serverformsildrysg{
    font-size: 12px;
    line-height: 24px;
    color: rgb(102, 102, 102);
}

.new_serverhot ul.new_serverhotul li{
    margin-bottom: 20px;
    position: relative;
}
.new_serverhotullik{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
