.new_header_photo1 .newabout_curtualcon{
    color:rgb(102, 102, 102);
}

.header #new_about_banner{
    background:url('../img/new_aboutsimplebanner.jpg');

}
.newabout_introduction{
    position: relative;
    width: 100%;
    height: 337px;
    background-color: white;
    background: transparent url('../img/new_aboutsimple.jpg') repeat center;
}
.newabout_simpleText{
    position: absolute;
    top: 65px;
    left: 116px;
    width: 276px;
    height: 74px;
    color: rgb(102, 102, 102);

}
.newabout_simpletitle{
    font-size: 28px;

}
.newabout_simpletitleen{
    margin-top: 20px;
    font-size: 14px;
}
.newabout_siteEditor{
    /*position: absolute;
    top: 152px;
    left: 339px;
    width: 521px;
    height: 174px;*/
    width: 773px;
    height: 174px;
    margin-top: 30px;

}
.newabout_siteEditor p{
    color: rgb(33, 33, 33);
    font-size: 14px;
    line-height: 24px;
    text-indent:25px
}
