body{
    font-size: .12rem;
}
.header{
    background: -webkit-linear-gradient(bottom left,#666,#333);
    height: 1rem;
    max-width: 7.5rem;
    margin: 0 auto;

}
.hdfixd{
    position: fixed;
    top: 0;
    width: 7.5rem;
    background: -webkit-linear-gradient(bottom left,#666,#333);
    height: 1rem;
    z-index: 80;
}
.menu{
    width: .83rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/menu.png");
    background-size: .3rem .3rem;
    background-repeat: no-repeat;
    background-position: center center;
}
.title{
    height: 100%;
    text-align: center;
    line-height: 1rem;
    font-size: .36rem;
    color: white;

}
.main{
    max-width: 7.5rem;
    width: 7.5rem;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
}
.menuleft{
    background: #404248;
    position: fixed;
    height: 100%;
    width: 0rem;/*3.75*/

    -webkit-transition: width 160ms;




}
.menuright{
    position: relative;
    left: 0;
    -webkit-transition: left 160ms;
}
.menu-s-a{
    display: block;
    width: 100%;
    height: .98rem;
    border-bottom: 1px solid #eeeeee;
    background-image: url("../images/xright.png");
    background-repeat: no-repeat;
    background-position:90% 50%;
    background-size:.3rem .3rem;
}
.menu-s-trans1{
    margin-left: -3.75rem;
    transition: margin-left 300ms .130s;
}
.menu-s-trans2{
    margin-left: -3.75rem;
    transition: margin-left 300ms .180s;
}
.menu-s-trans3{
    margin-left: -3.75rem;
    transition: margin-left 300ms .220s;
}
.menu-s-trans4{
    margin-left: -3.75rem;
    transition: margin-left 300ms .270s;
}
a.activeback{
    background-color: #2b2d34;
}
.menu-s-im{
display: inline-block;
    height: .44rem;
    width: .84rem;
    vertical-align: middle;
    line-height: .98rem;
    margin-top: .27rem;
    background-image: url("../images/homeback.png");
    background-repeat: no-repeat;
    background-position:90% 50%;
    background-size:.3rem .3rem;

}
.menu-s-con{
    display: inline-block;
    vertical-align: middle;
    height: .44rem;
    line-height: .44rem;
    color: white;
    font-size: .24rem;
    margin-top: .27rem;
}
a .fwbacimg{
    background-image: url("../images/fuwu.png");
}
a .xwback{
    background-image: url("../images/xwback.png");
}
a .gywmback{
    background-image: url("../images/gywmbac.png");
}
/**/
.homelogo{
    width: 100%;
    height: 1.47rem;
}
.homelogo img{
    width: 100%;
    height: 100%;
}
.homeRemarks{
    width: 100%;
    height: .75rem;
    font-size: .24rem;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}
.homeRemarks-bl{
    display: inline-block;
    position: absolute;
    border-left: 8px solid #666;
    width: .1rem;
    height: .4rem;
    margin-top: .2rem;
}
.homeRemarks-con{
    padding-left: .29rem;
    line-height: .765rem;
    font-weight: bold;
    color:#4c4c4c;
}
.lunbo img{
    display: block;
    margin: 0 auto;
}

.homenav{
    height: 2.14rem;
    width: 100%;
    padding-top: .3rem;
}
.homenavslid{
    display: block;
    width: 1.23rem;
    height: 1.23rem;
    margin-left: .3rem;
    margin-top: .2rem;
    margin-right: .3rem;
    float: left;
}
.homenavsl-bac{
    width: 1.23rem;
    height: 1.23rem;
    border-radius: 50%;
    background-color: orange;
    background-image: url("../images/fwxmlogo.png");
    background-repeat:no-repeat;
    background-position:center center;
    background-size: .4rem;
}
.homenavslid .homenavsl-hzbac{
    background-image: url("../images/hzxmlogo.png");
}
.homenavslid .homenavsl-gybac{
    background-image: url("../images/gywmlkogo.png");
}
.homenavsl-text{
    text-align: center;
    font-size: .24rem;
    margin-top: .1rem;
}


.homegcjs-slid{
    height: 4.2rem;
    width: 100%;
    position: relative;
    margin-bottom: 0.3rem;
}
.homegcjs-slidback{
 padding: 0 .25rem;
    height: 4.2rem;
    display: block;
    position: relative;

}
.homegcjs-slidback img{
    width: 100%;
    height: 100%;
}
.homegcjs-slidjj{
    position: absolute;
    top: 0;
    margin-top: 1rem;
}
.homegcjs-slidjjt{
    width: 70%;
    text-align: center;
    margin: 0 auto;
    font-size: .35rem;
    font-weight: bold;
    color: white;
    overflow: hidden;
}
.homegcjs-slidbacktm{
    position: absolute;
    top: 0;
    width: 94%;
    height: 100%;
    margin: 0 auto;

    opacity: .7;
    background: black;
}
.homegcjs-slidjnr{
    font-size: .28rem;
    text-align: center;
    margin: 0 auto;
    padding-top: .3rem;
    width: 50%;
    height: .4rem;
    line-height: .4rem;
    overflow: hidden;
    color: #c0c0c0;
    text-overflow :ellipsis;

}
.footer{
    margin-top: .77rem;
    margin-bottom: .7rem;

}
.footer p{
    text-align: center;
    font-size: .14rem;
    color: #999;
}
/*service*/
.service-slid{
    padding-top: .1rem;
}
.service-slidjs{
    width: 7.18rem;
    margin: 0 auto;

}
.service-slidtit{
    margin-top: .23rem;
    color: #434343;
    font-size: .28rem;
    font-weight: normal;
}
.service-slid img{
    width: 100%;
    max-height: 4.55rem;
}
.service-slidtiten{

    color: #8c8c8c;
    font-size: .28rem;
    font-weight: normal;
}
.service-slidcontent{
    margin-top: .3rem;
    color: #999999;
    font-size: .28rem;
    line-height: 1.6;
}
.service-slidkongxi{
    height: .92rem;
    width: 100%;
}

/*news*/
.homegcjs-sliddate{
    position: absolute;
   bottom: .2rem;
    right: .4rem;
    font-size: .28rem;
    color: #ababab;
}
.news-page{
    margin-top: .4rem;
    position: relative;
    display: flex;
    justify-content:space-between;
}

.Previouspage{
    width: 1.7rem;
    height: .6rem;
    border-radius: 3px;
    border: 1px solid #4c4c4c;
    font-size: .33rem;
    text-align: center;
    line-height: .6rem;
    color: #4c4c4c;
    opacity: .5;
    margin-left: .1rem
}
.news-pageym{
color: #000;
    text-align: center;
    padding: 0px 2px 1px;
    font-size: .28rem;
    height: .6rem;
    line-height: .6rem;
}
.nextpage{
    width: 1.7rem;
    height: .6rem;
    border-radius: 3px;
    border: 1px solid #4c4c4c;
    font-size: .33rem;
    text-align: center;
    line-height: .6rem;
    color: #4c4c4c;
    opacity: .5;
    margin-right: .1rem
}
/*联系我们 contactus*/
.cu{
    margin-top: .34rem;

}
.cu h2{
    text-align: center;
    font-size: .43rem;
    font-weight: normal;
}
.us-ht{
    width: .32rem;
    height: .08rem;
    background-color: orange;
    margin: 0 auto;
}
.us-content{
    margin-top: .35rem;
    font-size: .28rem;
    color: #666666;
    text-indent: 28px;
    line-height: .4rem;
}
.us-peitu{
    width: 100%;
    height: 3.2rem;
    margin-top: .6rem;
}
.us-peitu img{
    width: 100%;
    height: 100%;
}
.us-lxfs{
    margin-top: .4rem;
}
.us-lxfs p{
    color: #999999;
    text-align: center;
    font-size: .28rem;
    line-height: .5rem;
}
.us-lxfs p.us-lxfsga{
    color: #ffc001;
}
/*cooperation 合作老师*/
.coopBanner{
    width: 100%;
    height: 4.7rem;
}
div.coopBannerbor{
    padding: .12rem 0rem;
    margin-top: 0rem;
    background: #f5f5f5;
}
.coopBanner img{
    width: 100%;
    height: 100%;
}

.cooptitle{
text-align: center;
    font-size: .38rem;
    margin-top: .3rem;
}
.coopjjnr p{
    font-size: .28rem;
    color: #999999;
    line-height: .4rem;
    padding-bottom: .45rem;
    padding-top: .45rem;
}


