body{
    font-size: .12rem;
    background: rgba(0,0,0,0.8);
    font-family: "\5FAE\8F6F\96C5\9ED1",Helvetica,"黑体",Arial,Tahoma;
}
.header{
    background: -webkit-linear-gradient(bottom left,#666,#333);
    height: 1rem;
    max-width: 7.5rem;
    margin: 0 auto;

}
.hdfixd{
    position: fixed;
    top: 0;
    width: 7.5rem;
    background: -webkit-linear-gradient(bottom left,#666,#333);
    height: 1rem;
    z-index: 80;
}
.menu{
    width: .83rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../images/menu.png");
    background-size: .3rem .3rem;
    background-repeat: no-repeat;
    background-position: center center;
}
.title{
    height: 100%;
    text-align: center;
    line-height: 1rem;
    font-size: .36rem;
    color: white;

}
.main{
    max-width: 7.5rem;
    width: 7.5rem;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
}
.menuleft{
    background: #404248;
    position: fixed;
    height: 100%;
    width: 0rem;/*3.75*/
    overflow-x: hidden;
    -webkit-transition: width 160ms;




}
.menuright{
    position: relative;
    left: 0;
    -webkit-transition: left 160ms;
}
.menu-s-a{
    display: block;
    width: 100%;
    height: .98rem;
    border-bottom: 1px solid #4a4d54;

    background-image: url("../images/xright.png");
    background-repeat: no-repeat;
    background-position:90% 50%;
    background-size:.3rem .3rem;
}
.menu-s-trans1{
    margin-left: -3.75rem;
    transition: margin-left 300ms .130s;
}
.menu-s-trans2{
    margin-left: -3.75rem;
    transition: margin-left 300ms .180s;
}
.menu-s-trans3{
    margin-left: -3.75rem;
    transition: margin-left 300ms .220s;
}
.menu-s-trans4{
     margin-left: -3.75rem;
     transition: margin-left 300ms .310s;
 }
.menu-s-trans5{
    margin-left: -3.75rem;
    transition: margin-left 300ms .270s;
}
a.activeback{
    background-color: #2b2d34;
}
.menu-s-im{
display: inline-block;
    height: .44rem;
    width: .84rem;
    vertical-align: middle;
    line-height: .98rem;
    margin-top: .27rem;
    background-image: url("../images/homeback.png");
    background-repeat: no-repeat;
    background-position:90% 50%;
    background-size:.3rem .3rem;

}
.menu-s-con{
    display: inline-block;
    vertical-align: middle;
    height: .44rem;
    line-height: .44rem;
    color: white;
    font-size: .24rem;
    margin-top: .27rem;
}
a .fwbacimg{
    background-image: url("../images/fuwu.png");
}
a .xwback{
    background-image: url("../images/xwback.png");
}
a .gywmback{
    background-image: url("../images/gywmbac.png");
}
a .zpsxback{
    background-image: url("../images/zuopinsx.png");
}
/**/
.homelogo{
    width: 100%;
    height: 1.47rem;
}
.homelogo img{
    width: 100%;
    height: 100%;
}
.homeRemarks{
    width: 100%;
    height: .75rem;
    font-size: .33rem;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    position: relative;
}
.homeRemarks-bl{
    display: inline-block;
    position: absolute;
    border-left: 8px solid #666;
    width: .1rem;
    height: .4rem;
    margin-top: .2rem;
}
.homeRemarks-con{
    padding-left: .29rem;
    line-height: .765rem;

    color:#4c4c4c;
}
.homemore{
    position: absolute;
    display: inline-block;
    right: .3rem;
    top: .2rem;
    font-size: .24rem;
    color: #808080;
}
/*.lunboh{
    height: 2.1rem;
}*/
.lunbo img{
    display: block;
    margin: 0 auto;
    height: 100%;
}

.homenav{
    height: 2.14rem;
    width: 100%;
    padding-top: .3rem;
    text-align: center;
}
.homenavcenti{
    margin: 0 auto;
    width: 6rem;
    overflow: hidden;
}
.homenavslid{
    display: block;
    width: 1.23rem;
    height: 1.73rem;
    margin-left: .4rem;
    margin-top: .2rem;
    margin-right: .3rem;
    float: left;
    color:#333;
}
.homenavsl-bac{
    width: 1.23rem;
    height: 1.23rem;
    border-radius: 50%;
    background-color: orange;
    background-image: url("../images/fwxmlogo.png");
    background-repeat:no-repeat;
    background-position:center center;
    background-size: .4rem;
}
.homenavslid .homenavsl-hzbac{
    background-image: url("../images/hzxmlogo.png");
}
.homenavslid .homenavsl-gybac{
    background-image: url("../images/gywmlkogo.png");
}
.homenavsl-text{
    text-align: center;
    font-size: .24rem;
    margin-top: .1rem;
}
.homegcjs{
    margin-top: .1rem;
}

.homegcjs-slid{
    height: 4.2rem;
    width: 100%;
    position: relative;
    margin-bottom: 0.3rem;
}
.homegcjs-slidback{
 padding: 0 .25rem;
    height: 4.2rem;
    display: block;
    position: relative;

}
.homegcjs-slidback img{
    width: 100%;
    height: 100%;
}
.homegcjs-slidjj{
    position: absolute;
    top: 0;
    margin-top: 1rem;
}
.homegcjs-slidjjt{
    width: 70%;
    text-align: center;
    margin: 0 auto;
    font-size: .35rem;
    font-weight: normal;
    color: white;
    overflow: hidden;
}
.homegcjs-slidbacktm{
    position: absolute;
    top: 0;
    width: 94%;
    height: 100%;
    margin: 0 auto;

    opacity: .7;
    background: black;
}
.homegcjs-slidjnr{
    font-size: .28rem;
    text-align: center;
    margin: 0 auto;
    padding-top: .3rem;
    width: 50%;
    height: .4rem;
    line-height: .4rem;
    overflow: hidden;
    color: #c0c0c0;
    text-overflow :ellipsis;

}
.footer{
    margin-top: .77rem;
    margin-bottom: .7rem;

}
.footer p{
    text-align: center;
    font-size: .14rem;
    color: #999;
}
/*service*/
.service-slid{
    padding-top: .1rem;
}
.service-slidjs{
    width: 7.18rem;
    margin: 0 auto;

}
.service-slidtit{
    margin-top: .23rem;
    color: #434343;
    font-size: .28rem;
    font-weight: normal;
}
.service-slid img{
    width: 100%;
    max-height: 4.55rem;
}
.service-slidtiten{

    color: #8c8c8c;
    font-size: .28rem;
    font-weight: normal;
}
.service-slidcontent{
    margin-top: .3rem;
    color: #999999;
    font-size: .28rem;
    line-height: 1.6;
}
.service-slidkongxi{
    height: .92rem;
    width: 100%;
}

/*news*/
.homegcjs-sliddate{
    position: absolute;
   bottom: .2rem;
    right: .4rem;
    font-size: .28rem;
    color: #ababab;
}
.news-page{
    margin-top: .4rem;
    position: relative;
    display: flex;
    justify-content:space-between;
}

.Previouspage{
    width: 1.7rem;
    height: .6rem;
    border-radius: 3px;
    border: 1px solid #4c4c4c;
    font-size: .33rem;
    text-align: center;
    line-height: .6rem;
    color: #4c4c4c;
    opacity: .5;
    margin-left: .1rem
}
.news-pageym{
color: #333;
    text-align: center;
    padding: 0px 2px 1px;
    font-size: .28rem;
    height: .6rem;
    line-height: .6rem;
}
.nextpage{
    width: 1.7rem;
    height: .6rem;
    border-radius: 3px;
    border: 1px solid #4c4c4c;
    font-size: .33rem;
    text-align: center;
    line-height: .6rem;
    color: #4c4c4c;
    opacity: .5;
    margin-right: .1rem
}
/*联系我们 contactus*/
.cu{
    margin-top: .34rem;

}
.cu h2{
    text-align: center;
    font-size: .43rem;
    font-weight: normal;
}
.us-ht{
    width: .32rem;
    height: .08rem;
    background-color: orange;
    margin: 0 auto;
}
.us-content{
    margin-top: .35rem;
    font-size: .28rem;
    color: #666666;
    text-indent: 28px;
    line-height: .4rem;
    padding: 0 .24rem;
}
.us-peitu{
    width: 100%;
    height: 3.2rem;
    margin-top: .6rem;
}
.us-peitu img{
    width: 100%;
    height: 100%;
}
.us-lxfs{
    margin-top: .4rem;
}
.us-lxfs p{
    color: #999999;
    text-align: center;
    font-size: .28rem;
    line-height: .5rem;
}
.us-lxfs p.us-lxfsga{
    color: #ffc001;
}
/*cooperation 合作老师*/
.coopBanner{
    width: 100%;
    height: 4.7rem;
}
div.coopBannerbor{
    padding: .12rem 0rem;
    margin-top: 0rem;
    background: #f5f5f5;
}
.coopBanner img{
    width: 100%;
    height: 100%;
}

.cooptitle{
text-align: center;
    font-size: .38rem;
    margin-top: .3rem;
}
.coopjjnr p{
    font-size: .28rem;
    color: #999999;
    line-height: .4rem;
    padding-bottom: .45rem;
    padding-top: .45rem;
    padding-left:.24rem;
    padding-right:.24rem;
}

/*新闻详情页  newsdetails*/
.detailsheader{
    width: 7.5rem;
    margin: 0 auto;

}
.dhrfixd{
    position: fixed;
    top: 0;
    background-color: #4c4c4c;
    width: 7.5rem;
    z-index: 10;
    height: 1.15rem ;
}
.detailCont{
    padding: 0rem .31rem 0rem .31rem;
    margin-top: 1.5rem;
}
.dhrfixdl{
    float: left;
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    margin-top: 0.2rem;
    margin-left: .3rem;
    background: rgba(255,255,255,0.7);
    background-image: url("../images/xaingzuo.png");
    background-size: .5rem .5rem;
    background-repeat: no-repeat;
    background-position: center center;

}
.dhrfixdr{
    float: right;
    width:  .8rem;
    height: .8rem;
    border-radius: 50%;
    margin-top: 0.2rem;
    margin-right: .3rem;
    background: rgba(255,255,255,0.7);
    background-image: url("../images/fenxianglogo.png");
    background-size: .5rem .5rem;
    background-repeat: no-repeat;
    background-position: center center;
}
.detailCont h3{
    font-size: .33rem;
    line-height: .48rem;
    font-weight: normal;
    text-align: left;

}
.detailCont span{
    display: inline-block;
    font-size: .24rem;
    color: #999;
    line-height: .28rem;
    margin-top: .2rem;
    margin-bottom: .2rem;
}
.detailCont p{
    font-family: 微软雅黑;
    font-size: 0.33rem;
    color: #666666;
    line-height: .5rem;
    margin-bottom: .5rem;
}
.detailFigure{
    width: 100%;

}
.detailFigure img{
    width: 100%;

}
.detailfooter{
    width: 7.5rem;
    margin: 0 auto;
    position: relative;
    background-color: white;
}
.df-main{
    position: fixed;
    bottom: -8rem;
    width: 7.5rem;
    background-color: white;
    transition: bottom 0.5s;
    z-index: 12;
}
.df-main h3{
    text-align: center;
    height: .67rem;
    color: #999;
    font-size: .33rem;
    padding: .3rem 0;
    font-weight: normal;

}
.df-fxtb{
    background-color: white;
    overflow: hidden;
}
.df-fxtb li{
    float: left;
    width: 1.5rem;
    display: inline-block;
    margin-left: .3rem;
    margin-bottom: .5rem;

}
.df-fxtb li a{
    border-radius: 50%;
    margin-left: .08rem;
display: inline-block;
    width: 1.5rem;
}
.df-fxtb li a div{
    border-radius: 50%;
    background-color: #0ab262;
    margin: 0 auto;
    width: 1.1rem;
    height: 1.1rem;
    margin: 0 auto;
    background-image: url("../images/weixin.png");
    background-size: .5rem .5rem;
    background-repeat: no-repeat;
    background-position: center center;
}
.df-fxtb li a div.xlwb{
    background-color: red;
    background-image: url("../images/weibo.png");
}
.df-fxtb li a div.qqkongjian{
    background-color: blue;
    background-image: url("../images/qqkongjian.png");
}
.df-fxtb li a div.doubanwang{
    background-color: #1c7430;
    background-image: url("../images/douban.png");
}
.df-fxtb li a div.tieba{
    background-image: url("../images/teiba.png");
    background-size: 1.2rem 1.2rem;
}
.df-fxtb li p{
    color: #333;
    font-size: .33rem;
    text-align: center;
}
.dfquxiao{
    height: 1.56rem;
    text-align: center;
    line-height: 1.56rem;
    font-size: .33rem;
    color: #000;
    border-top: 1px solid #00bfa5;
}