
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
    margin: 0;
    padding: 0;
}
*{box-sizing: border-box;}
html, body {
    min-height: 100%;
}

body {

    font-family: "Microsoft YaHei";
    font-size:12px;
    color:#333;
}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
ul,ol {
    list-style: none;
}

img {
    border: none;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #232323;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

input, textarea {
    outline: none;
    border: none;
}

textarea {
    resize: none;
    overflow: auto;
}
ul li{
    list-style: none;
    float: left;
}
.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    overflow:hidden;
}

.fl {
    float: left
}

.fr {
    float: right
}

.tl {
    text-align: left;
}

.tc {
    text-align: center
}

.tr {
    text-align: right;
}

.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.inline{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.bodyColorf{
    background-color: #F2F2F2;
}
.bodycolorwhite{
    background-color: white;
}

body{
    -webkit-text-size-adjust:100%;/*iPhone �� Android ����������� (Portrate mode) �͙M�� (Landscape mode) ģʽ�����Զ����������С�Ĺ��ܡ��������ľ��� CSS �е� -webkit-text-size-adjust��text-size-adjust ��Ϊ none ���� 100% �ر������С�Զ���������.*/
-webkit-tap-highlight-color:transparent;/*������ͼƬ���������ϣ�ϣ�������ֱ�ѡ�е���ɫ��������ô���أ���ʵ���ǿ��Խ�����-webkit-tap-highlight-color��ֵ����Ϊ͸���Ϳ���ʵ�֡���ȻҲ�������ó�������ɫ��Ҳ֧��rgba*/
}
*:not(input,textarea) {
    -webkit-touch-callout: none;/*������Ļʱ���ֹ�豸�����б�ť*/
-webkit-user-select: none;/*֮���Է�����������Ϊ����ŵ�body�лᵼ�¸���Android���ͣ�Google  Nexus��Android 4.2.2��������޷�����*/
}
select{-webkit-appearance:none;/*�����ı䰴ť�������ؼ������,��������Ժ�select�ĸ߶ȾͿ��Ըı��ˡ����ԣ���ȻҲ������������������ؼ���*/}
:focus {
    outline:0;
    -webkit-tap-highlight-color:transparent
}/*��ֹ��ȡ����ʱ�����ֱ߿�*/
.main{
    max-width: 750px;
    margin: 0 auto;
    background-color: #f2f2f2;


}
.floor{
    width: 100%;
    max-width: 750px;
    height: 100%;
    background-color: #000000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 999;
    position: fixed;
    top: 0;
    overflow:auto;


}
.mask{
    max-width: 3rem;
    max-height: 2.5rem;
    background-color: #f1f1f1;
    position: absolute;

    z-index: 9999;
    text-align: center;
    border-radius: 10px;
}
.mask_con{
    margin: .6rem;
    font-size: .16rem;
    color: #f51c23;
}
.mask_btn{
    text-align: center;
    margin-top: .3rem;
    width: .8rem;
    height: .35rem;
    text-underline: none;
    outline: none;
    border: none;
    background-color: #f51c23;
    border-radius: 10px;
    color: #ffffff;
    font-size: .14rem;
}