.main{
    background-color: #f2f2f2;
    position: relative;
}
.header{
    background-color: #f2f2f2;
    border-bottom: none;
    text-align: center;
    line-height: .45rem;
    font-size: .16rem;

}
.goback{
    width: .45rem;
    height:.45rem;
    position: absolute;
    top:0;
    left: 0;
    z-index: 3;
}
.gobackImg{
    margin-top: .12rem;
    margin-left: .12rem;
    width: .21rem;
    height: .21rem;

}
.det_img{
    width: 100%;
    height: 3.61rem;
}
.det_whole{
    height: 1.4rem;
    width: 100%;
    background-color: #f8f8f8;
}
.det_top,.det_bot{
height: .7rem;


}
.det_top{
    padding: 0 .2rem;
    font-size: .18rem;
    color: #000000;

}
.det_top .det_left{
margin-top: .03rem;
    float: left;
}
.det_top .det_left p{
    height: .28rem;
    line-height: .28rem;
}
.det_shu{
    margin-top: .03rem;
    height: .5rem;
    width: .7rem;
    text-align: right;
    border-left: 1px solid gainsboro;
}
.det_top .det_right{

    padding-top: .05rem;
    float: right;

}
.det_top .det_right img{
   width: .2rem;
    height: .2rem;
    margin-right: .1rem;
    margin-top: .09rem;
}
.det_top .det_right p{
    font-size: .11rem;
    color: #bfbabf;
    margin-right: .1rem;
}
.det_bot {
    padding: 0 .2rem;
    line-height: .30rem;
    font-size: .11rem;
    color:#bfbabf ;
}
.det_bot_pri{
    color:#E51C23 ;
    font-size: .12rem;
}
.det_bot_add-add{
    display: inline-block;
   float: right;
}
.det_goods{
    margin-top: .19rem;
    margin-bottom: .51rem;
    height: .40rem;
    line-height: .4rem;
    background-color: #ffffff;
    font-size: .14rem;
    text-align: center;
}
.det_img_height265{
    width: 100%;
    height: 2.65rem;
}
.det_explain{
    padding-top: .11rem;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    font-size: .2rem;
    color: #000000;
    padding-left: .68rem;
    padding-bottom: 2rem;
}
.footer{
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    bottom: -1px;
    border-top: 1px solid grey;

    height: 45px;
    /*line-height: 45px;*/
    box-shadow: 0 0 10PX 0 rgba(155,143,143,0.6);
    -webkit-box-shadow: 0 0 10PX 0 rgba(155,143,143,0.6);
}
.footer ul li{
    height: .6rem;

}
.footer ul li.footer_left{
    width: 66%;


}

.footer ul li.footer_left ul li{
    list-style: none;
    float: left;
    width: 50%;



}

.footer ul li.footer_left ul li .footer_heart{
    width: 32px;
    height: 32px;
    line-height: 32px;


}
.footer ul li.footer_right{
    width: 34%;
    background-color: #F66563;
    font-size: .14rem;
    color: #ffffff;
   padding-right: .1rem;
    text-align: center;
    height: .6rem;
    line-height: .6rem;
}
.footer ul li.footer_right a{
    color: #ffffff;
}
.footer_li_car{

    text-align: center;
    height: .5rem;
    background-color:#FFC978 ;
    line-height: .6rem;
    color: #E51C23 ;

}
.footer_li_car img{
    width: 100%;
    height: .2rem;

}
.footer_li_car span{
    display: block;
     height: .2rem;

 }
.footer_li_heart {
height: .45rem;
    line-height: .45rem;
}

.footer ul li.footer_left .footer_li_heart{
    text-align: left;
  padding-left: .3rem;
}



.footer ul li.footer_left .footer_li_car img{


    width: .2rem;
    height: .2rem;


}
.footer ul li.footer_left .footer_li_car p{
    font-size: .12rem;

}

