.main{
    background-color: #f2f2f2;
    position: relative;
}
.header{
    background-color: #f2f2f2;
    border-bottom: none;
    text-align: center;
    line-height: .45rem;
    font-size: .16rem;

}

.det_img{
    width: 100%;
    height: 3.61rem;
}
.det_whole{
    height: .7rem;
    width: 100%;
    background-color: #f8f8f8;
}
.det_top,.det_bot{
    height: .7rem;


}
.det_top{
    padding: 0 .2rem;
    font-size: .18rem;
    color: #000000;

}
.det_top .det_left{
    margin-top: .03rem;
    float: left;
}
.det_top .det_left p{
    height: .28rem;
    line-height: .28rem;
}
.det_shu{
    margin-top: .03rem;
    height: .5rem;
    width: .7rem;
    text-align: right;
    border-left: 1px solid gainsboro;
}
.det_top .det_right{

    padding-top: .05rem;
    float: right;

}
.det_top .det_right img{
    width: .35rem;
    height: .35rem;
}
.det_top .det_right p{
    font-size: .11rem;
    color: #bfbabf;
}

.det_goods{
    margin-top: .1rem;
    margin-bottom: .21rem;
    height: .40rem;
    line-height: .4rem;
    background-color: #ffffff;
    font-size: .14rem;
    text-align: center;
}
.det_img_height{
    width: 100%;
    text-align: center;
    padding-bottom: .4rem;
}
.det_img_height265{
    height: 3.25rem;
    width: 2.36rem;
}
.det_explain{

    width: 100%;
    height: auto;

    background-color: #ffffff;
    font-size: .13rem;
    color: #000000;

}



.det_explain_con{
    line-height: .24rem;
    padding-top: .1rem;
    padding-left: .55rem;
    padding-bottom: .4rem;
}
.footer ul li.footer_left{
    width: 66%;

}

.footer ul li.footer_left ul li{
    list-style: none;
    float: left;
    width: 50%;



}

.footer ul li.footer_left ul li .footer_heart{
    width: 32px;
    height: 32px;
    line-height: 32px;


}
.footer ul li.footer_right{
    width: 34%;
    background-color: #F66563;
    font-size: .14rem;
    color: #ffffff;
    padding-right: .1rem;
}
.footer_li_car{
    padding-top: .04rem;
    color: #E51C23;
    font-size: .1rem;

}

.footer ul li.footer_left .footer_li_heart{
    text-align: left;
    padding-left: .3rem;
}


