.main{
    background-color: #000000;
    height: auto;
    padding-bottom: 45px;

}
.header{
    width: 100%;
    height: .45rem;
    position: relative;
    border-bottom: 1px solid grey;

}
.header input{

    height: .31rem;
    margin-top: .07rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 94%;
    margin-left: 3%;
    padding-left: .7rem;
}
.header .search{
    height: .31rem;
   width: .51rem;
    position: absolute;
    top: 18%;
    left:5%;
}
.header img{
    margin-top: .07rem;
    width: .16rem;
    height: .16rem;
}
.header span{
    margin-top: .07rem;
    vertical-align: middle;
    display: inline-block;
    margin-left: .05rem;
    font-size: .12rem;
    color: #8c8c8c;
}
.kind{
    overflow: hidden;
    width: 98%;
    margin: 0 auto;
    margin-top: .07rem;
    margin-bottom: .07rem;


}
.kind ul li{
    width: 17%;
    font-size: .12rem;
    float: left;
    text-align: center;
    color: #ffffff;
   margin-left: 2.5%;
    margin-bottom: 1%;
    margin-top: 1%;


}
.kind ul li a div{
    color: #ffffff;
}

.kind ul li img{
    width: 100%;
    height: 100%;
}
.con{
    max-width: 750px;
    height: auto;
    margin-top: 10px;
    background-color: #000000;
    padding: 0 2%;

    overflow: hidden;
}
.h-line{
    text-align: center;
    margin-bottom: .05rem;
    margin-top: .05rem;



}

.line{
    clear: both;
    width: 37%;
    height: 1px;
    display: inline-block;
    background-color: lightgrey;
    vertical-align: middle;
}
.line-img{
    width: 20%;
    padding: 0 2%;
}
.line-img img{
    width: .2rem;

}
.line-img span{
    vertical-align: middle;
    color: #E51C23;
    font-size: .13rem;
}
.con-ul{
    overflow: hidden;
}
.con-ul li{
    position: relative;
    float: left;
    width: 48%;
    height: auto;
    border: 1px solid gray;
    background-color: #ffffff;
    margin-top: .15rem;
}
.con-ul li:nth-child(even){
    margin-left: 4%;
}
.con-ul li .con-ul-img{
    width: 100%;
    padding: .1rem;
    padding-bottom: .02rem;

}
.con-ul li .con-ul-div{
    padding-left: .1rem;
    font-size: .12rem;
}
.con-ul li div img{
    width: 100%;
    height: 100%;
}
.con-ul-div-p{
    margin: .04rem 0;
}
.con-ul-car{
    position: absolute;
    bottom:.05rem;
    right:.08rem;
    width: .26rem;
}
.con-ul-hadpeice{
    width: .47rem;
    height: .19rem;
    line-height: .19rem;
    background-color: #e51c23;
    color: #ffffff;
    font-size: .1rem;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}





.footer{
     background-color: #ffffff;
     width: 100%;
     position: fixed;
     bottom: -1px;
     border-top: 1px solid grey;
     overflow: hidden;
     height: 45px;
     /*line-height: 45px;*/
     box-shadow: 0 0 10PX 0 rgba(155,143,143,0.6);
     -webkit-box-shadow: 0 0 10PX 0 rgba(155,143,143,0.6);

 }
.footer ul{
   text-align: center;
    overflow: hidden;

}
.footer ul li{

    list-style: none;
    float: left;
    width: 33.3%;
  /*  height: 45px;
    line-height: 45px;*/


}
.footer ul .leftIMG,.footer ul p.leftP{

    margin-left: -.3rem;
}
.footer ul .rightIMG,.footer ul p.rightP{

    margin-right: -.3rem;
}
.footer ul li .f-img{
    width: 20px;
    margin-top: .02rem;
}
.footer ul li span{
    display: block;
    font-size: .12rem;
}

