.main{
    background-color: #ffffff;
    position: relative;
}

.main_con{

    height: auto;
    margin: 0 .1rem;
    text-align: center;
    margin-bottom: .1rem;
    font-size: .14rem;
    overflow: hidden;
    margin-top: .2rem;

}
.main_con li{
    width: 100%;
    height: .75rem;
    line-height: .75rem;
    position: relative;
    border-bottom: 1px solid lightgrey;
}
.main_con li img{
    position: absolute;
    top:.1rem;
    left: .1rem;
    width: .5rem;
    height: .5rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
.main_total{
    height: .4rem;
    line-height: .4rem;
    margin: 0 .1rem;
    font-size: .16rem;
    text-align: right;
}
.main_total input{
    border: 1px solid lightgrey;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    height: .24rem;
    line-height: .24rem;
    width: 1rem;
    padding-left: .1rem;
    font-size: .14rem;
}
.main_total .main_total_count{
    color: #F66563;

}
.main_total .main_total_price{
    color: #F66563;
    font-size: .12rem;
}
.footer{
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    bottom: -1px;
    border-top: 1px solid grey;
    overflow: hidden;
    height: 45px;
    /*line-height: 45px;*/
    box-shadow: 0 0 10PX 0 rgba(155,143,143,0.6);
    -webkit-box-shadow: 0 0 10PX 0 rgba(155,143,143,0.6);

}
.footer ul li.footer_left{
    width: 66%;


}
.footer ul li.footer_left span {
    display: inline-block;
    font-size: .16rem;
}
.footer ul li.footer_left span.footer_pri{

    color: #F66563;
    font-size: .12rem;
    margin-top: .04rem;

}


.footer ul li.footer_right{
    width: 34%;
    background-color: #F66563;
    font-size: .14rem;
    color: #ffffff;
    padding-right: .1rem;
    text-align: center;
    height: .45rem;
    line-height: .45rem;
}
.footer ul li.footer_right a{
    color: #ffffff;
}


