body{
    height: 100%;
    background-color: #f2f2f2;

}
.main{
    background-color: #f2f2f2;
    padding-bottom: 0;
    color: l;



}

.header{
    padding: .05rem 0 0 0;
    background-color: #f2f2f2;
    border-bottom: none;
    text-align: center;
    line-height: .45rem;
    font-size: .16rem;



}
.mem_list{
    overflow: hidden;

    width: 100%;
    height: 100%;
    background-color: #f2f2f2;!important;


}
.mem_con{
    height: .5rem;

}
.mem_list li{
    padding: 0 .1rem;
    height: .75rem;
    width: 100%;
    list-style: none;
    position: relative;
    margin-top: .15rem;
    background-color: #ffffff;




}

.mem_list .mem_con img{
    position: absolute;
    left:.2rem;
    top:.15rem;
    width: .5rem;
    height: .5rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;

}
.mem_list .mem_con p{
    height: .18rem;
    line-height: .18rem;
    padding-left: .8rem;
}
.mem_list .mem_con .mem_con_name{
    margin-top: .16rem;
    font-size: .12rem;
}
.mem_list .mem_con .mem_con_price{
    margin-top: .1rem;
    font-size: .12rem;

    text-align: right;
    color: #bbbbbb;
    margin-right: .05rem;
}

.mem_list .mem_con .mem_con_status{
    position: absolute;
    top:.13rem;
    right: .1rem;
    width: .75rem;
    height: .3rem;
    line-height: .3rem;

    font-size: .14rem;
    border: 1px solid lightgrey;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #e51c23;
    padding-left: .08rem;


}
.mem_list .mem_con .mem_con_gray{
    position: absolute;
    top:.13rem;
    right: .15rem;
    font-size: .12rem;
    color: #bbbbbb;

}



