body{
    height: 100%;
    background-color: #f8f8f8;
    overflow: scroll;
}
.main{
    background-color: #f8f8f8;
    padding-bottom: 0;
    max-height: 6.36rem;

}

.header{
    background-color: #f8f8f8;
    border-bottom: none;
    text-align: center;
    line-height: .45rem;
    font-size: .16rem;


}

.mem_hea{
    height: 1.52rem;
    width: 100%;
    background-color: #F66563;
    text-align: center;
    position: relative;

}
.mem_avator{
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    margin-top: .3rem;
}
.mem_name{
     font-size: .14rem;
     color: #ffffff;
 }
.mem_lever{
    font-size: .12rem;
    color: lightgray;
}
.mem_set{
    position: absolute;
    top: .12rem;
    right: .12rem;
    height: 30px;
    line-height: 25px;
    width: 30px;


}
.mem_set img{
    width: 20px;
    height: 20px;
}
.mem_scope{
    position: absolute;
    top: .7rem;
    right:.4rem;
    width: .5rem;
    height: .4rem;

    font-size: .14rem;

}
.mem_scope_title{
    color: lightgray;
}
.mem_scope_scope{
    margin-top: .05rem;
    color: yellowgreen;
}
.mem_list{
    overflow: hidden;
    margin-top: .1rem;
    padding: 0 .1rem;
    background-color: #ffffff;
    border-bottom: 1px solid lightgrey;
}
.mem_list ul{

    overflow: hidden;

}
.mem_list ul .mem_li_left{
    height: .35rem;
    line-height: .35rem;
    float: left;
    vertical-align: middle;
}
.mem_list ul .mem_li_left img{
    width: .2rem;
    height: .2rem;
}
.mem_list ul .mem_li_left span{
    margin-left: .07rem;
    display: inline-block;
}
.mem_list ul .mem_li_right{
    height: .35rem;
    line-height: .35rem;
    vertical-align: middle;
    float: right;
}
.mem_list ul .mem_li_right span{
    display: inline-block;

}
.mem_li_right_look{
    margin-right: .05rem;
}


.hadprise{


    max-width: 750px;
    height: .8rem;
    line-height: .3rem;
    width: 100%;
    background-color: #ffffff;

}
.hadprise ul{
color: #000000;
    font-size: .13rem;
    text-align: center;
}
.hadprise ul li{
    float: left;
    width: 25%;
    text-align: center;
}

.hadprise_line{
    border-right: 1px solid grey;
}
.hadprise ul li a{
   margin: .1rem 0;
    width: 100%;
    display: inline-block;
    background-color: #ffffff;



}
.hadprise ul li a img{
    width: .25rem;
    height: .25rem;
}

.footer{
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    bottom: -1px;
    border-top: 1px solid grey;
    overflow: hidden;
    height: 45px;
    line-height: 45px;

    box-shadow: 0 0 10PX 0 rgba(155,143,143,0.6);
    -webkit-box-shadow: 0 0 10PX 0 rgba(155,143,143,0.6);

}
.footer ul{
    text-align: center;
    overflow: hidden;

}
.footer ul li{

    list-style: none;
    float: left;
    width: 33.3%;
    height: 45px;
    line-height: 45px;


}
.footer ul .leftIMG{
    text-align: left;
    margin-left: -.3rem;
}
.footer ul .rightIMG{
    text-align: right;
    margin-right: -.3rem;
}
.footer ul li .f-img{
    width: 20px;
}
.footer ul li span{
    display: block;
    font-size: .12rem;
}

