body{
    height: 100%;
    background-color: #f8f8f8;

}
.main{
    background-color: #f8f8f8;
    padding-bottom: 0;



}

.header{
    background-color: #f8f8f8;
    border-bottom: none;
    text-align: center;
    line-height: .45rem;
    font-size: .16rem;



}
.mem_list{
    overflow: hidden;
    padding: 0 .1rem;
    width: 100%;
    height: 100%;
    background-color: #ffffff;!important;


}
.mem_con{
    height: .5rem;

}
.mem_list li{
    height: .75rem;
    width: 100%;
    list-style: none;
    position: relative;



}

.mem_list .mem_con img{
    position: absolute;
    left:.1rem;
    top:.15rem;
    width: .5rem;
    height: .5rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;

}
.mem_list .mem_con p{
    height: .18rem;
    line-height: .18rem;
    padding-left: .8rem;
}
.mem_list .mem_con .mem_con_name{
    margin-top: .16rem;
    font-size: .12rem;
}
.mem_list .mem_con .mem_con_price{
    margin-top: .1rem;
    font-size: .12rem;
    color: #E51C23;
}



