body{
    background-color:#f2f2f2 ;
}
.cart-hd{
    height: 0.45rem;

}
.cart-hd p{
    height: 100%;
    line-height: 0.45rem;
    text-align: center;
    font-size: .16rem;
}
.cart-commodityList{
    width: 100%;
    background-color: white;
}
.cart-productlistFor{
    height: .75rem;
    width: 100%;


}
.cart-productlistFor-check{
    margin: .35rem 0 0 .1rem;
    float: left;
}
.cart-productlistFor-img{
    width: .5rem;
    height: 100%;
    float: left;
    margin-left: .1rem;
    line-height: .75rem;
    border-right: 3px;
}
.cart-productlistFor-img img{
    width: .5rem;
    height: .5rem;
    border-radius: 3px;
}
.cart-productlistFor-name{
    float: left;
    width: 1.8rem;

}
.cart-productlistFor-name p{
    text-align: center;
    padding-top: .1rem;
    font-size: .14rem;
}
.cart-productlistFor-price{
    width: .8rem;
    height: 100%;
    float: right;
    color: orange;
    line-height: .75rem;
    padding-right: .05rem;
}
.cart-operation{
    height: .46rem;
    width: 100%;
    position: fixed;
    bottom: .45rem;

}
.cart-productlistFor-SC{
    width: .3rem;
    height: 100%;
    line-height: .46rem;
    padding-left: .1rem;
    float: left;

}
.cart-productlistFor-Select{
    line-height: .46rem;
    padding-left: .1rem;
    width: .4rem;
    height: 100%;
    float: left;
}
.cart-productlistFor-total{
    padding-left: .1rem;
    float: left;
    height: 100%;
    position: relative;
}
.cart-productlistFor-total p{
    font-size: .12rem;
}
.cart-fortotal-total{
    padding-top: .05rem;
}
.cart-fortotal-total span{
    color: orange;
}
.cart-fortotal-brief{
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    padding-bottom: .05rem;
}
.cart-productlistFor-del{
    float: left;
    line-height: .46rem;
    width: .6rem;
    text-align: center;
    font-size: .14rem;
}
.cart-productlistFor-settlement{
    float: right;
    display: block;
    width: 1.4rem;
    height: 100%;
    text-align: center;
    line-height: .46rem;
    background-color: red;
    font-size: .14rem;
    color: white;
}
.cart-menu{
    height: .45rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #999;
    padding-top: .03rem;

}
.cart-menu a{
    display: block;
    width: 33.3%;
    text-align: center;

}
.cart-menu a img{
    width: .2rem;
    display: inline-block;
}
.cart-menu a p{
    line-height: .25rem;
    font-size: .12rem;
}


/*  购物车订单确认页*/
.cartOrder-contact-o{
    background-color: white;
}
.cartOrder-contact{
    display: block;
    width: 100%;
    height: 1.1rem;

    background: url("../images/lianxiicon.png")   no-repeat left;
    background-size:.2rem .2rem;
    background-position: .1rem center;
}
.cartOrder-contact-lx{
    height: 100%;
    margin-left: .5rem;
}
.cartOrder-contact-nameandphone{
    width: 3rem;
    height: .6rem;
    line-height: .6rem;
    font-size: .16rem;
}
.cartOrder-contact-nameandphone p{
    float: left;
}
.cartOrder-contact-nameandphone p:nth-child(1){
    padding-right: .14rem;
}
.cartOrder-contact-address{
    font-size: .12rem;
}

.cartOrder-productprice{
    width: 100%;

    background-color: white;
    border-top: .2rem solid #eeeeee;
}
.cartOrder-productprice-up{
    height: .9rem;
}
.cartOrder-productprice-upimg{
    margin-left: .2rem;
    margin-top: .2rem;
    width: .36rem;
}
.cartOrder-productprice-upname{
    float: right;
    width: 3rem;
    height: 100%;
    line-height: .7rem;
}
.cartOrder-productprice-upname p{
    padding-left: .5rem;
}
.cartOrder-productprice-upline{
   padding: 0 .1rem;
    clear: both;
}
.cartOrder-productprice-upline p{
    width: 97%;
    border-bottom: 1px solid #eeeeee;
    clear: both;
}
.cartOrder-productprice-done{
    height: 1.09rem;
}
.cartOrder-productprice-donefr{
    width: 60%;
    float: right;
    height: 100%;
}
.co-pro-donefrup{
    padding-top: .2rem;
    padding-right: .2rem;
}
.co-pro-donefrup p{
    width: 1rem;
    height: .3rem;
    line-height: .3rem;
    float: left;
}
.co-pro-donefrup input{
    width: .7rem;
    height: .3rem;
    float: right;
    border: 1px solid #eeeeee;
}
.co-pro-donefrup div{
    clear: both;
}
.co-pro-donefrdone{
overflow: hidden;
}
.co-pro-donefrdone p{
float: left;
    font-size: .16rem;
}
.co-pro-donefrdone p:nth-child(1){
    padding-right: .1rem;
}
.co-pro-donefrdone p:nth-child(2){
    padding-right: .1rem;
}