body{
    background-color:#f2f2f2 ;
}
.cart-hd{
    height: 0.45rem;

}
.cart-hd p{
    height: 100%;
    line-height: 0.45rem;
    text-align: center;
    font-size: .16rem;
}
.cart-commodityList{
    width: 100%;
    background-color: white;
}
.cart-productlistFor{
    height: .75rem;
    width: 100%;


}
.cart-productlistFor-check{
    margin: .35rem 0 0 .1rem;
    float: left;
}
.cart-productlistFor-img{
    width: .5rem;
    height: 100%;
    float: left;
    margin-left: .1rem;
    line-height: .75rem;
    border-right: 3px;
}
.cart-productlistFor-img img{
    width: .5rem;
    height: .5rem;
    border-radius: 3px;
}
.cart-productlistFor-name{
    float: left;
    width: 1.8rem;

}
.cart-productlistFor-name p{
    text-align: center;
    padding-top: .1rem;
    font-size: .14rem;
}
.cart-productlistFor-price{
    width: .8rem;
    height: 100%;
    float: right;
    color: orange;
    line-height: .75rem;
    padding-right: .05rem;
}
.cart-operation{
    height: .46rem;
    width: 100%;
    position: fixed;
    bottom: .45rem;

}
.cart-productlistFor-SC{
    width: .3rem;
    height: 100%;
    line-height: .46rem;
    padding-left: .1rem;
    float: left;

}
.cart-productlistFor-Select{
    line-height: .46rem;
    padding-left: .1rem;
    width: .4rem;
    height: 100%;
    float: left;
}
.cart-productlistFor-total{
    padding-left: .1rem;
    float: left;
    height: 100%;
    position: relative;
}
.cart-productlistFor-total p{
    font-size: .12rem;
}
.cart-fortotal-total{
    padding-top: .05rem;
}
.cart-fortotal-total span{
    color: orange;
}
.cart-fortotal-brief{
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    padding-bottom: .05rem;
}
.cart-productlistFor-del{
    float: left;
    line-height: .46rem;
    width: .6rem;
    text-align: center;
    font-size: .14rem;
}
.cart-productlistFor-settlement{
    float: right;
    display: block;
    width: 1.4rem;
    height: 100%;
    text-align: center;
    line-height: .46rem;
    background-color: red;
    font-size: .14rem;
    color: white;
}
.cart-menu{
    height: .45rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #999;
    padding-top: .03rem;

}
.cart-menu a{
    display: block;
    width: 33.3%;
    text-align: center;

}
.cart-menu a img{
    width: .2rem;
    display: inline-block;
}
.cart-menu a p{
    line-height: .25rem;
    font-size: .12rem;
}


/*  ���ﳵ����ȷ��ҳ*/
.cartOrder-contact-o{
    background-color: white;
}
.cartOrder-contact{
    display: block;
    width: 100%;
    height: 1.1rem;

    background: url("../images/lianxiicon.png")   no-repeat left;
    background-size:.2rem .2rem;
    background-position: .1rem center;
}
.cartOrder-contact-lx{
    height: 100%;
    margin-left: .5rem;
}
.cartOrder-contact-nameandphone{
    width: 3rem;
    height: .6rem;
    line-height: .6rem;
    font-size: .16rem;
}
.cartOrder-contact-nameandphone p{
    float: left;
}
.cartOrder-contact-nameandphone p:nth-child(1){
    padding-right: .14rem;
}
.cartOrder-contact-address{
    font-size: .12rem;
}

.cartOrder-productprice{
    width: 100%;

    background-color: white;
    border-top: .2rem solid #eeeeee;
}
.cartOrder-productprice-up{
    height: .9rem;
}
.cartOrder-productprice-upimg{
    margin-left: .2rem;
    margin-top: .2rem;
    width: .36rem;
}
.cartOrder-productprice-upname{
    float: right;
    width: 3rem;
    height: 100%;
    line-height: .7rem;
}
.cartOrder-productprice-upname p{
    padding-left: .5rem;
}
.cartOrder-productprice-upline{
   padding: 0 .1rem;
    clear: both;
}
.cartOrder-productprice-upline p{
    width: 97%;
    border-bottom: 1px solid #eeeeee;
    clear: both;
}
.cartOrder-productprice-done{
    height: 1.09rem;
}
.cartOrder-productprice-donefr{
    width: 60%;
    float: right;
    height: 100%;
}
.co-pro-donefrup{
    padding-top: .2rem;
    padding-right: .2rem;
}
.co-pro-donefrup p{
    width: 1rem;
    height: .3rem;
    line-height: .3rem;
    float: left;
}
.co-pro-donefrup input{
    width: .7rem;
    height: .3rem;
    float: right;
    border: 1px solid #eeeeee;
}
.co-pro-donefrup div{
    clear: both;
}
.co-pro-donefrdone{
overflow: hidden;
}
.co-pro-donefrdone p{
float: left;
    font-size: .16rem;
}
.co-pro-donefrdone p:nth-child(1){
    padding-right: .1rem;
}
.co-pro-donefrdone p:nth-child(2){
    padding-right: .1rem;
}
.cartOrder-kongxi{
    width: 100%;
    height: .6rem ;
}
.cartOrder-productpricetotal{
    background-color: white;
    font-size: .14rem;

    width: 100%;
    padding-left: .3rem;
    padding-right: .3rem;
}
.cartOrder-productSubtotal{
    width: 100%;
    height: .45rem;

}
.cartOrder-Subtotalfl{
    width: 40%;
    float: left;
    line-height: .45rem;

}
.cartOrder-Subtotalfr{
    float: right;
    width: 40%;
    height: 100%;
    line-height: .45rem;
    text-align: right;


}
.cartOrder-Subtotalfr span{
    color: red;
    padding-right: .1rem;
}
.cartOrder-productpricePayment{
    width: 100%;
    height: .45rem;
    background-color: white;
    position: fixed;
    bottom: 0;
}
.cartOrder-Paymentfl{
    float: left;
    width: 2.5rem;
    text-align: right;
    line-height: .45rem;

}
.cartOrder-Paymentfl span{
    color: red;
}
.cartOrder-Paymentfr{
    float: right;
    background-color: red;
    color: white;
    height: 100%;
    width: 1.4rem;
    text-align: center;
    line-height: .45rem;

}

/*
�ȴ�ȷ��ҳ�� shoppingcartwaitconfirm.html
*/

.scwc-hd{
    height: .45rem;
    line-height: .45rem;
    font-size: .16rem;
    text-align: center;
   margin-bottom: .2rem;

}
.scwc-slid{
    height: .75rem;
    background-color: white;
    padding-left: .2rem;
    margin-bottom: .17rem;
}
.scwc-slidfl{
    width: 60%;
    float: left;
    height: 100%;
    padding-top: .2rem;
}
.scwc-slidfl img{
    float: left;
    width: .5rem;
    height: .5rem;
}
.scwc-slidflinfo{
    width: 1.7rem;
    height: 100%;
    float: left;
    padding-left: .1rem;
}
.scwc-slidflinfo p{
     font-size: .12rem;

 }
.scwc-slidflinfo div{
    font-size: .12rem;
    padding-top: .12rem;
    color: red;

}
.scwc-slidfr{
    width: 30%;
    float: right;
    height: 100%;
    text-align: center;
    padding-top: .2rem;
}
.scwc-slidfr p{
    color: #eeeeee;
    font-size: .12rem;
    padding-bottom: .06rem;
}
.scwc-slidfr a{
    border-radius: 5px;
    display: block;
    color: red;
    border: 1px solid #eeeeee;
    width: .8rem;
    margin: 0 auto;
    height: .3rem;
    line-height: .3rem;
    font-size: .14rem;
}


/*
    ����̨ ֧�� shoppingcartpayment.html
*/
.scpm-hd{
    height: .45rem;
    width: 100%;
    text-align: center;
    line-height: .45rem;
    font-size: .16rem;
}
.scpm-orderinfo{
    height: 1rem;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
.scpm-orderinfoup{
    height: .45rem;
    line-height: .45rem;
    font-size: .14rem;
}
.scpm-orderinfoupfl{
    width: 50%;
    float: left;
    padding-left: .2rem;
}
.scpm-orderinfoupfr{
    width: 50%;
    float: right;
    text-align: right;
    padding-right: .1rem;
}
.scpm-orderinfoline{
    width: 98%;
    margin: 0 auto;
    border-bottom: 3px solid #eeeeee;
}
.scpm-orderinfoupfrcolor{
    color: red;
}
.scpm-orderPayMethod{
    margin-top: .5rem;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
.scpm-MethodSlid{
    height: .6rem;
    width: 100%;
    display: block;
}
.scpm-MethodSlidimg{
    padding-left: .2rem;
    width: .65rem;
    text-align: center;
    height: 100%;
    line-height: .6rem;
    float: left;

}
.scpm-MethodSlidimg img{

    width: .45rem;


}
.scpm-MethodSlidName{
    width: 2rem;
    height: 100%;
    float: left;
    padding-left: .2rem;
}
.scpm-MethodSlidName h2{
    font-weight: normal;
    font-size: .14rem;
    margin-top: .1rem;
    margin-bottom: .03rem;
}
.scpm-MethodSlidName p{
    font-weight: normal;
    font-size: .12rem;

}
.scpm-MethodSlidmore{
    width: .45rem;
    height: 100%;
    text-align: center;
    line-height: .6rem;
    float: right;
    background: url("../images/gotomore.png") no-repeat;
    background-size:.2rem .2rem;
    background-position:center;
}
.scpm-MethodSlidline{
    border-bottom: 3px solid #eeeeee;
}
.footer{
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    bottom: -1px;
    border-top: 1px solid grey;
    overflow: hidden;
    height: 45px;
    /*line-height: 45px;*/
    box-shadow: 0 0 10PX 0 rgba(155,143,143,0.6);
    -webkit-box-shadow: 0 0 10PX 0 rgba(155,143,143,0.6);

}
.footer ul{
    text-align: center;
    overflow: hidden;

}
.footer ul li{

    list-style: none;
    float: left;
    width: 33.3%;
    /*  height: 45px;
      line-height: 45px;*/


}
.footer ul .leftIMG,.footer ul p.leftP{

    margin-left: -.3rem;
}
.footer ul .rightIMG,.footer ul p.rightP{

    margin-right: -.3rem;
}
.footer ul li .f-img{
    width: 20px;
    margin-top: .02rem;
}
.footer ul li span{
    display: block;
    font-size: .12rem;
}